<h1>Welcome!</h1><a href="/posts/new">新建</a>

<div class="posts-list">
  <%= render partial: "posts/post", collection: @posts %>
</div>

<div class="posts-footer">
  <%= will_paginate @posts %>
</div>