<div class="post_detail">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
</div>

<%= render :template => "comments/index" %>

<div class="create_comment">
  <%= render :template => "comments/form" %>
</div>
